body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
header h1 {
    font-size: 40px;
    display: block;
}
main {
    height: calc(100vh - 200px);
    justify-content: center;
}
main ul {
    list-style-type: none;
    display: flex;
    margin-top: calc(100vh - 200px - 10em);
    justify-content: center;
}
main ul li {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 5em;
    height: 7em;
    margin-right: 20px;
    background-color: rgb(0, 0, 0, 0.6);
    transition: all 0.1s;
    box-sizing: border-box;
    padding: 5px;
}
main ul li h4,
main ul li p {
    text-align: center;
}
.playing {
    transform: scale(1.1);
    color: yellow;
    border: solid yellow 5px;
}
